@media (max-width:600px) {
    .navbarp-2, .CV {
     display: none;
    }
     .nav {

       display: flex; 
       flex-direction: row; 
       width: 100%;
       top: 60px;
       }
       
     .hamburger {
         display: block; 
     }
 .nav.show {
  height: 60vh;
 display: flex; 
  flex-direction: column;
     }
     .nav.show .navbarp-2 {
      display: flex; 
      justify-content: center;
      align-items: center;
}
.nav.show ul{
    flex-direction: column;
}

.nav.show .navbarp-2 a{
    padding: 12px;
    font-size: 5vw;

  }
  
  #nav .logo {
    font-size: 4vw;
  }
       
       #home{
           flex-direction: column-reverse;
           height: auto;
       }
       #rightsection{
           height: auto;
           width: 100%;
       }
       #leftsection h3{
           width: 100%;
           font-size: 8.5vw;
           line-height: 8.9vw;
       }
       #leftsection p{
           width: 100%;
           font-size: 4vw; 
       }
       #btn1{
           height: auto;
           width: auto;
           font-size: 2vw 2vh;
       }
       #aboutSection h1{
           
           font-size: 7vw;
       }
       #aboutcontent{  
           flex-direction: column;
       }
       #aboutleft , #aboutright{
           width: 100%;
       }
       #aboutright{
           padding: 0px 0px;
       }
       #aboutright #top p {
           width: 98%;
           text-align: center;
           margin-top: 2vh;
           font-size: 4.5vw;
       }
        #aboutright  h3{
           font-size: 10vw;
       }
      .skills{
           flex-direction: column;
       align-items:center ;
       }
       .skills img {
           max-width: 100%; 
           height: auto; 
       }
       services h1 {
        font-size: 5vw; 
    }

    .service-card {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }

    .service {
        width: 90%; 
        max-width: none;
    }

    .image-section {
        height: 120px; 
    }

    .text-section h2 {
        font-size: 4vw; 
    }

    .text-section p {
        font-size: 3vw; 
    }
     .form-div {
       padding: 15px;
   }
   form button {
       padding: 0px;
   }
   
   .social-icons img {
       width: 15vw; 
   }
   .footer-links{
       flex-direction: column;
   }
   #projects h1 {
    font-size: 4vw;
    
}
   }


