@media only screen and (min-width: 601px) and (max-width: 1100px) {
    body {
        font-size: 16px;
    }

    .CV {
        display: none;
    }

    #nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbarp-2 {
        gap: 6vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
    }

    .navbarp-2 a {
        font-size: 2.5vw;
    }
     
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #home #btn1{
        width: 15vw;
    }
    #home #rightsection{
        display: none;
    }
    #leftsection, #rightsection {
        flex-direction:reverse;
        width: 100%;
        margin: 10px 0;
    }

    #leftsection h3 {
        font-size: 8.5vw;
        line-height: 8.9vw;
        width: 100%;
    }

    #leftsection p {
        font-size: 4vw;
        width: 100%;
    }

    #aboutcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aboutleft, #aboutright {
        width: 100%;
        margin: 0;
    }

    #aboutright {
        padding: 0;
    }

    #aboutright img {
        max-width: 100%; 
        height: auto;
        display: block;
        margin: 0 auto; 
    }

    #aboutright #top p {
        text-align: center;
        margin-top: 1vh;
        font-size: 2.4vw;
        font-weight: 500;
        width: 90%;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .service {
        width: auto;
    }

    .service-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .text-section p {
        font-weight: 500;
        font-size: 0.75vw;
    }

    .form-div {
        width: 90%;
        margin: 0 auto;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer {
        text-align: center;
        padding: 20px 0;
    }

    h1, h2, h3 {
        margin: 10px 0;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto; 
    }
}

